.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}


.App-header {
  background-color: #E3D015;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: black;
}


button {
  background-color: #E3D015;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;

  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 10px 10px 5px rgba(51, 51, 53, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

input{
  border-radius: 50px;
  height: 20px;
}

button:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  button {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

.tools-container{
  margin: 10vh;
  padding: 10px;
  background-color: #e2e8f0;
  border-radius: 10px;
    outline: solid;
  outline-width: 1px; 
}

.button-container{
  width: 75vw
}